# Database Connection for Docker setup
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/phenix_nest?schema=public"

# Solana Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_GUL_TOKEN_MINT=11111111111111111111111111111111

